
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*@using System.Web.Mvc
@using System.Web.Mvc.Html*@
@model CursoMVCNET.DTO.Users

@*Login*@
<h2>Login</h2>

<div class="row">

    

    <form class="" id="form-login" method="post">
        <div class="list-group-item-success campos">
            <label class="control-label">Usuario</label>
            <input type="text" name="user" id="user"/>

        </div>

        <div class="list-group-item-success campos">
            <label class="control-label">Password</label>
            <input class="input-group" type="password" name="password" id="password"/>

        </div>

        <input class="btn btn-success" type="submit" value="Iniciar Sesion">
    </form>

</div>

@*<script>
        $(document).ready(function () {

            $("#form-login"), submit(function (e) {
                e.preventDefault();


            })


        })



    </script>*@

